<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' " >
		<link rel="icon" href="data:,">
		<title>Document</title>
	</head>
	<body>

		<h1>SIGN-IN PAGE</h1>

		<form>

			<div>
				<label for="">School Email</label>
				<input class="email-input" type="text" name="email">
			</div>

			<div>
				<label for="">Password</label>
				<input class="password-input" type="password" name="password">
			</div>

			<div class="button-container">
				<button type="submit" >Login</button>
				<a href="/auth/enroll"><button type="button" >Enrol</button></a>
			</div>

		</form>
		
	</body>
</html>

<script src="/js/Signin.js"></script>




